## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,2,Bethel,US,83.46,41.3712,-73.4140,Courtyard by Marriott Danbury
1,6,Albany,US,79.61,42.6001,-73.9662,NaN
2,8,Auki,SB,79.65,-8.7676,160.7034,Auki Motel
3,9,Pitimbu,BR,75.63,-7.4706,-34.8086,Reserva do Abiaí
4,14,Sola,VU,77.68,-13.8833,167.5500,Leumerus Bungalows

In [3]:
clean_vacation_df = vacation_df.dropna(how='any')
clean_vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,2,Bethel,US,83.46,41.3712,-73.4140,Courtyard by Marriott Danbury
2,8,Auki,SB,79.65,-8.7676,160.7034,Auki Motel
3,9,Pitimbu,BR,75.63,-7.4706,-34.8086,Reserva do Abiaí
4,14,Sola,VU,77.68,-13.8833,167.5500,Leumerus Bungalows
5,18,Jamestown,US,76.08,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...
241,676,Isla Mujeres,MX,86.54,21.2311,-86.7310,Hotel La Joya Isla Mujeres
242,677,Zhangye,CN,77.02,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
243,681,The Valley,AI,84.09,18.2170,-63.0578,CeBlue Villas & Beach Resort
244,682,Lodwar,KE,85.91,3.1191,35.5973,Solmar Gracious Hotel
245,686,Kieta,PG,79.54,-6.2167,155.6333,Uruna Bay Retreat

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Westport"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Westport"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Broome"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Rolla"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Sartell"] 

vacation_start

     City_ID      City Country  Max Temp      Lat      Lng        Hotel Name
102      307  Westport      US     84.85  41.1415 -73.3579  The Westport Inn

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end =vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (41.1415, -73.3579), End: (41.1415, -73.3579)
Stop 1: (42.2506, -75.833), Stop 2: (37.9514, -91.7713), Stop 3: (45.6216, -94.2069)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
    

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,307,Westport,US,84.85,41.1415,-73.3579,The Westport Inn
1,94,Broome,US,78.01,42.2506,-75.8330,Chenango Valley State Park
2,627,Rolla,US,84.24,37.9514,-91.7713,Holiday Inn Express & Suites Rolla - Univ of M...
3,652,Sartell,US,90.00,45.6216,-94.2069,AmericInn by Wyndham Sartell

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))